/* GNERAL */
@media(max-width:1024px){
    section{
        margin: 2em 0em;
    }
}

/* NAVBAR */
@media (max-width: 1024px){

    /* remove nav-items*/
    .navbar .container .nav-items{
       display: none;
    }

    .navbar .container i.fa-bars{
        display: block;
    }

    /* remove  theme-icon*/
    .navbar .container i.fa-moon{
        display: none;
    }
}

/* HERO */
@media (max-width:1024px){

    #hero .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }
}

/* SKILLS */
@media (max-width:1024px){
    #skills .container .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #skills .container .skills-container span{
        min-width: 100%;
    }
    #skills .container .skills-container span:hover{
        background-color: var(--white);
        transform: scale(1);
    }
}


/* PROJECTS */
@media(max-width:1024px){
    #projects .container .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
}



/* CONTACT */
@media(max-width:1024px){
    #contact .container .contact-container{
        grid-template-columns: repeat(1, 1fr);
        align-items:start;
        gap: 2em;
    }

/*     #contact .container .contact-container input,
    #contact .container .contact-container textarea{
        border-radius: 50px;
    } */
}


/* FOOTER */
@media(max-width:1024px){
    
}