/* GENERAL */
@media (max-width:1024px){
    body{
        background-size: 80%;
    }

/*     body::before{
        position: absolute;
    } */

    section{
        margin: 2em 0em; /* space between each section of the page */
    }

    .section-heading{
        text-align: center;
    }
}



/* PROJECTS */
@media(max-width:1024px){
    #projects{
        margin-top: 2em;
    }
    #projects .container .projects-container .project-box .project-content .other {
        flex-direction: column;
        align-items:flex-start;
    }
}





/* NAVBAR */
@media (max-width:1024px){
    .navbar{
        padding: 0.75em 1em;
    }

    .navbar .container .logo{
        font-size: var(--lg-font-size);
    }
    .navbar .container .nav-items{
        display: none;
    }

    .theme-toggle{
        display: none;
    }

    .hamburger{
        display: block;
    }

    /* mobile theme toggle */
    .overlay .container .theme-toggle{
        display: inline-flex;
    }
}



/* HERO */
@media(max-width:768px){
    #hero .container .info-container{
        grid-template-columns: repeat(1, 1fr);
    }    

    #hero .container .info-container .info-box:hover,
    #hero .container .info-container .info-box:active,
    #hero .container .info-container .info-box:focus{
        border-color: var(--gray);
    }

}



/* CONTACT */
@media(max-width:1024px){
    #contact .container .contact-container{
        grid-template-columns: repeat(1, 1fr);
        align-items:start;
        gap: 2em;
    }

/*     #contact .container .contact-container input,
    #contact .container .contact-container textarea{
        border-radius: 50px;
    } */

    #contact .container .contact-container .text .links{
        margin-top: 1em;
        display: flex;
        align-items: center;
        gap: 1em;
    }
}




/* FOOTER */
@media(max-width:1024px){
    footer .container a.logo{
        font-size: 1.2em;
    }
}